In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [3]:
data_set = pd.read_csv('insurance.csv')

In [4]:
data_set.info()
data_set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
data_set.region.value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [6]:
#NOW AS TEXT MATERIAL CANNOT BE LEARNED BY ML MODEL WE HAVE TO TRANSFORM THE TEXT PART I.E SEX , SMOKER , REGION IN MATHEMATICAL FUNCTIONS

data_set.replace({'sex' : {'male':0 , 'female':1}},inplace=True)
data_set.replace({'smoker' : {'yes':0 , 'no':1}},inplace=True)
data_set.replace({'region' : {'southeast':0 , 'southwest':1 , 'northwest':2 , 'northeast':3}}, inplace=True)
data_set

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       0       1  16884.92400
1      18    0  33.770         1       1       0   1725.55230
2      28    0  33.000         3       1       0   4449.46200
3      33    0  22.705         0       1       2  21984.47061
4      32    0  28.880         0       1       2   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       1       2  10600.54830
1334   18    1  31.920         0       1       3   2205.98080
1335   18    1  36.850         0       1       0   1629.83350
1336   21    1  25.800         0       1       1   2007.94500
1337   61    1  29.070         0       0       2  29141.36030

[1338 rows x 7 columns]

In [7]:
x=data_set.drop(columns = 'charges' , axis=1) #data
y=data_set['charges']  #target

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.20 , random_state=0)

In [9]:
st_x = StandardScaler()
x_train=st_x.fit_transform(x_train)
x_test=st_x.transform(x_test)

In [10]:
clf = LinearRegression()
clf.fit(x_train , y_train)

LinearRegression()

In [23]:
y_pred = clf.predict(x_test)
r2_pred=metrics.r2_score(y_test , y_pred)*100

In [ ]:
#age,sex,bmi,children,smoker,region
input_samples=(age,sex,bmi,children,smoker,region)
input_array = np.asarray(input_samples)
input_reshape = input_array.reshape(1,-1)
prediction = clf.predict(input_reshape)
print("THE INSURANCE COST IS :" , prediction , "RUPEES")